.why {
  /* background-color: #f9f9f9; */
  padding: 4rem 2rem;
  text-align: center;
}

.why h2 {
  /* font-size: 2rem; */
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.item {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.29);
}

.item img {
  width: 120px;
  height: auto;
  margin-bottom: 1rem;
}

.item h3 {
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}
